# Visual Studio
.vs/
*.user
*.suo
appsettings.APIs.json


appsettings.json
appsettings.Development.json
# !appsettings.json
# appsettings.json
# Build results
bin/
obj/
/appsettings.json
# Other
*.log
